<div class="row">
    <div class="col-sm-8">
        <a class="btn btn-dark btn-sm border-white p-1 m-2" href="{{ url_for('index') }}">
            Home
        </a>
        <a class="btn btn-dark btn-sm border-white p-1 m-2" href="{{ url_for('product') }}">
            Product
        </a>
        <a class="btn btn-dark btn-sm border-white p-1 m-2" href="{{ url_for('part') }}">
            Part
        </a>
        <a class="btn btn-dark btn-sm border-white p-1 m-2" href="{{ url_for('drafting') }}">
            Drafting
        </a>
    </div>
    <div class="col-3 text-right">
        <h3>pycatia-tools</h3>
    </div>
</div>