{% extends 'common/base.html' %}

{% block content %}

{{ render_menu('part')|safe }}

<h2>Export Points</h2>

<p class="alert alert-info">
   Export the point coordinates of all the points in the Geometric Set `name` and save to CSV.
</p>
<ul class="alert alert-info">
    <li>If target directory is not provided the file will be placed on your desktop.</li>
    <li>If filename is not provided <span class="font-monospace">Part Number</span> will be used.</li>
    <li>If possible the existing file will be overwritten.</li>
</ul>

<form
        hx-post="/htmx/part/export_points"
        hx-target="#export_points"
        hx-swap="innerHtml"
        hx-indicator="#export_points"
>
    <div class="row mt-2">
        <label for="formGeometricSet" class="col-3 col-form-label">Geometric Set</label>
        <div class="col">
            <input name="geometric_set" type="text" class="form-control" id="formGeometricSet" placeholder="ConstructionGeometry">
        </div>
    </div>
    <div class="row mt-2">
        <label for="formFileName" class="col-3 col-form-label">File Name</label>
        <div class="col">
            <input name="file_name" type="text" class="form-control" id="formFileName" placeholder="points.csv">
        </div>
    </div>
    <div class="row mt-2">
        <label for="formDirectory" class="col-3 col-form-label">Target Directory</label>
        <div class="col">
            <input name="directory" type="text" class="form-control" id="formDirectory" placeholder="C:/User/<username>/Desktop/">
        </div>
    </div>
    <div class="text-center mt-2">
        <button name="Export Points" class="btn btn-primary rounded-1" value="Export Points" script="on click remove #output">Export Points</button>
    </div>
</form>
<div class="mt-2" id="export_points">
    {% include('partials/spinner.html') %}
</div>

<h2>Import Points</h2>

<p class="alert alert-info p-1">
    Import points from the supplied CSV and add to the Geometric Set 'Name'.
</p>
<p class="alert alert-warning p-1">
    Large datasets can take several minutes to import. The formatting of the CSV
    file shall be <span class="font-monospace">&ltPointName&gt,&ltx value&gt,&lty value&gt,&ltz value&gt</span>.
    For example:<br>
    <span class="font-monospace">Point.1,10,10,20<br>
    Point.2,20,30,40<br>
    Point.3,50,50,50<br>
    ...
    </span>
</p>

<form
        hx-post="/htmx/part/import_points"
        hx-target="#import_points"
        hx-swap="innerHtml"
        hx-encoding="multipart/form-data"
        hx-indicator="#import_points"
>
    <div class="row mt-2">
        <label for="formFile" class="col-3 form-label">Select CSV file.</label>
        <div class="col">
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
    </div>
    <div class="row mt-2">
        <label for="formGeometricSetImport" class="col-3 form-label">Geometric Set</label>
        <div class="col">
            <input name="geometric_set_import" type="text" class="form-control" id="formGeometricSetImport" placeholder="ConstructionGeometry">
        </div>
    </div>
    <div class="text-center mt-2">
        <button name="Import Points" class="btn btn-primary" value="Import Points">Import Points</button>
    </div>
</form>
<div class="mt-2" id="import_points">
    {% include('partials/spinner.html') %}
</div>

{% endblock %}