{% extends 'common/base.html' %}

{% block content %}

{{ render_menu('part')|safe }}

<h2>Create New Part</h2>

<p class="alert alert-info p-1">
    Creates a new Part using the attributes submitted in the Form below.
</p>

<p class="alert alert-info p-1">
    New <span class="font-monospace">Geometrical Sets</span> and <span class="font-monospace">Parameters</span> will be created as defined in the <span class="font-monospace">settings.yaml</span> file.
</p>

<form
        hx-post="/htmx/part/create_new"
        hx-target="#create_new"
        hx-swap="innerHtml"
>
<h3>Attributes</h3>
    <div class="row mb-3">
        <div class="col">
            <label for="formPartNumber" class="form-label">part number</label>
            <input name="part_number" type="text" class="form-control" id="formPartNumber" placeholder="L2000543-001">
        </div>
        <div class="col">
            <label for="formRevision" class="form-label">revision</label>
            <input name="revision" type="text" class="form-control" id="formRevision" placeholder="A">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="formDefinition" class="form-label">definition</label>
            <input name="definition" type="text" class="form-control" id="formDefinition" placeholder="MY DEFINITION IS THIS">
        </div>
        <div class="col">
            <label for="formNomenclature" class="form-label">nomenclature</label>
            <input name="nomenclature" type="text" class="form-control" id="formNomenclature" placeholder="THIS IS THE TITLE">
        </div>
    </div>
    <div class="text-center mt-2">
        <button name="Create Part" class="btn btn-primary rounded-1" value="Create Part" script="on click remove #output">Create Part</button>
    </div>
</form>
<div class="mt-2" id="create_new">
    {% include('partials/spinner.html') %}
</div>

{% endblock %}