<!-- {{ self._TemplateReference__context.name }} -->
 {% set pd_1="2px" %}
<div class="row">
    <div class="col text-end">
        Active Document

    </div>
    <div class="col">
        <button name="refresh" class="btn btn-success rounded-1 btn-sm" style="padding: 3px;" value="refresh" hx-get="/htmx/document/object" hx-target="#document_object" hx-swap="innerHtml">update</button>
    </div>
</div>

{% if not document_type %}
    <p id="document_object" class="alert alert-danger text-center">
        No document open.
    </p>
{% endif %}

 {% if document_type == "document" %}
     <div class="row border-bottom">
         <div class="col text-muted fw-bold small border-end">Part Number</div>
         <div class="col text-muted fw-bold small border-end">Title</div>
         <div class="col-1 text-muted fw-bold small">Revision</div>
     </div>
     <div class="row border-bottom">
         <div class="col border-end">{{ document_object.part_number }}</div>
         <div class="col border-end">{{ document_object.nomenclature }}</div>
         <div class="col-1">{{ document_object.revision }}</div>
     </div>
     <div class="row">
        <div class="col-1 border-end text-muted fw-bold small align-content-center">Path</div>
        <div class="col">{{ document_object.full_name }}</div>
     </div>

 {% elif document_type == 'drawing' %}
     <div class="row border">
         <div class="col-1 border-end text-muted fw-bold small">Path</div>
         <div class="col">{{ document_object.full_name }}</div>
     </div>

{% endif %}
