
<h3 class="mt-2">Default Attributes</h3>
<div class="row">
{% for default_property in default_properties  %}
    <div class="col-6">
        <label for="form{{ default_property }}" class="form-label">{{ default_property }}</label>
        <input name="{{ default_property }}" type="text" class="form-control rounded-0" id="form{{ default_property }}"
        value="{{ default_properties[default_property] }}">
    </div>
{% endfor %}
</div>

<h3 class="mt-2">User Defined Attributes</h3>
<div class="row">
{% for user_defined_property in user_defined_properties  %}
    <div class="col-6">
        <label for="form{{ user_defined_property }}" class="form-label">{{ user_defined_property }}</label>
        <input name="{{ user_defined_property }}" type="text" class="form-control rounded-0" id="form{{ user_defined_property }}"
        value="{{ user_defined_properties[user_defined_property] }}">
    </div>
{% endfor %}
</div>

<div class="text-center mt-2">
    <button name="submit" class="btn btn-success rounded-0" value="submit">Submit</button>
</div>

{% if data %}
    {% include('partials/success.html')  %}
{% endif %}

{% if errors %}
    {% include('partials/errors.html') %}
{% endif %}
