<!-- product_attributes_form.html -->
{% set label = 'col-2 text-end text-muted small' %}

<form
        hx-put="/htmx/product/attributes"
        hx-target="this"
        hx-swap="outerHMTML"
>
    <div class="row mt-2">
        <div class="{{ label }}">
            Part Number
        </div>
        <div class="col">
            <input name="part_number" type="text" class="form-control" id="formPartNumber" placeholder="L2000543-001" value="{{ attributes['part_number'] }}">
        </div>
    </div>
    <div class="row mt-2">
        <div class="{{ label }}">
            Revision
        </div>
        <div class="col">
            <input name="revision" type="text" class="form-control" id="formRevision" placeholder="A" value="{{ attributes['revision'] }}">
        </div>
    </div>
    <div class="row mt-2">
        <div class="{{ label }}">
            Definition
        </div>
        <div class="col">
            <input name="definition" type="text" class="form-control" id="formDefinition" placeholder="MY DEFINITION IS THIS" value="{{ attributes['definition'] }}">
        </div>
    </div>
    <div class="row mt-2">
        <div class="{{ label }}">
            Nomenclature
        </div>
        <div class="col">
            <input name="nomenclature" type="text" class="form-control" id="formNomenclature" placeholder="THIS IS THE TITLE" value="{{ attributes['nomenclature'] }}">
        </div>
    </div>
    <div class="text-center mt-2">
        <button name="submit" class="btn btn-success">
            Click To Submit
        </button>
    </div>
</form>