<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ url_for('index') }}">pycatia Tools</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('product') }}">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('part') }}">Part</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('drafting') }}">Drafting</a>
        </li>
      </ul>
  </div>
</nav>
